@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;900&display=swap');

body{
    font-family: "Zen Kaku Gothic Antique", serif;
    font-size: 16px;
}

body h1{
    font-size: min(60px, 12vw);

}

body h2{
    font-size: min(30px, 6vw);
}

body b{
    font-weight: bold;
}

.header{
    width: 100%;
    height: 600px;
    margin: 0 auto;/*二つ目の引数は左右のmargin(他のブロックからの距離:ここでは壁)autoにすることでwidthが効く*/
    background: rgb(235, 227, 175);
    font-weight: 900;
    color: #333;
    display: flex;/*header内での中央揃え,logoを真ん中に持ってくる*/
    justify-content: center;
    align-items:center;
}

/*logo*/
.logo{
    display: flex;/*2つのコンテンツの中央揃え,divとimgを真ん中に持ってくる*/
    justify-content: center;
    align-items:center;
}

.logo div{
    padding: 0 10px;
}

.logo img{
    display: inline-block;/*画像のテキスト化*/
    width: 250px;
    height: 250px;
    max-width: 47vw;
    max-height: 47vw;
}

.logo_words div{
    text-align: left;
    padding: 2px;

}

.content {
    width: 100%;
    margin: 0 auto;
    background: #EEE;
    padding: 5%;
    line-height: 2em;
}

body p{
    margin-top: 30px;
    padding-left: 1em;
    text-indent: -1em;
}



